# env
.env
.env.*
*.local

# node
**/node_modules/
**/.next/
**/dist/
**/build/

# logs
*.log

# mac
.DS_Store

# .NET (server .NET ise)
**/bin/
**/obj/

# Node
**/node_modules/
**/.next/
**/dist/
**/build/

# Env
.env
.env.*

# Logs
*.log
.DS_Store
